[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = ">=18.1.0"
click = ">=6.7"
requests = ">=2.19.1"

[dev-packages]
"flake8" = "*"
"flake8-isort" = "*"
bandit = "*"
ipython = "*"
tox = "*"

[requires]
python_version = "3.6"
